/* Styling the home class*/
html{
    scroll-behavior: smooth;
}
body{
    margin: 0%;
    background-image: url("smoth_background_img.jpg");
    background-repeat: no-repeat;
    background-position: sticky;
    min-width:1000px;       
    width: auto !important;  
    width:1000px; 
}

#top{
    position: sticky;
    top: 0;
    width: 100%;
    padding-bottom: 5%;
}
#top_name_logo{
    margin-top: 3%;
    margin-inline-start: 3%;
    width: 20%;
    min-width: 240px;
    display: inline;
    }
#nav_list{
    display: none;
}
#nav_list li{
    display: inline;
}

#center{
    align-content: center;
    font-size: 45;
    margin-left: 25%;
    margin-right: 25%;
}
#center_img{
    width: 30%; 
    border-radius: 12%;
    transition: 0.5s;
    border: 3px solid #242582;

}
#center_img:hover{
    border-radius: 50%;
    border: 5px solid #f64c72;
}
#nav_list a {
    font-size: 32;
    display: inline;
    color: #f64c72;
    text-align: center;
    padding: 3% 2.5%;
    background-color: #242582;
    text-decoration: none;
    transition: 0.6s;
    border-radius: 12%;
    border: 3px solid #f64c72;
    margin: 0% 0.6%;

}
#nav_list a:hover {
    background-color: #f64c72;
    color: white;
}
/* Styling the more class*/
#home_back{
    display: none;
    position: fixed;
    right: 4.5%;
    bottom: 10%;
    transition: 0.4s;
}
#home_back:hover{
    bottom: 12% ;
    opacity: 0.5;
}

/* styling the about section*/
#about_heading{
    font-size: 23;
    color: #ffffff;
    padding: 2%;
    padding-top: 12%;
    margin-top: 10%;
    width:96.5%;
    background-color:#3D5B59;
    position: sticky;
}
#about_heading > h1{
    display: inline;
    padding: 0% 2%
}


/* styling the education section*/

#edu_heading{
    font-size: 23;
    color: #ffffff;
    padding: 2%;
    padding-top: 12%;
    margin-top: 10%;
    width:96.5%;
    background-color:#996c71;
}
#edu_heading > h1{
    display: inline;
    padding: 0% 2%}

/* styling the skills section*/

#skills_heading{
    font-size: 23;
    color: #ffffff;
    padding: 2%;
    padding-top: 12%;
    margin-top: 10%;
    width:96.5%;
    background-color: #57a381;
}
#skills_heading >h1{
    display: inline;
    padding: 0% 2%}

/*styling the portfolio section*/

#portfolio_heading{
    font-size: 23;
    color: #ffffff;
    padding: 2%;
    padding-top: 12%;
    margin-top: 10%;
    width:96.5%;
    background-color:#ca796e;
}
#portfolio_heading > h1{
    display: inline;
    padding: 0% 2%}
